.small-img-col{
    cursor: pointer;
}
.single-product select{
    display: block;
    padding: 5px 10px;
}
.single-product input{
    width: 50px;
    height: 40px;
    font-size: 16px;
    margin-right: 10px;
    padding-left: 10px;
}
.single-product input:focus{
    outline: none;
}
.shop-now{
    background-color: coral;
    opacity: 1;
    transition: 0.5s all;
    border: none;
    padding: 10px 20px;
}